@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap');

:root {
    --primary-color: rgb(16, 105, 143);
    --primary-color-darker: rgb(5, 43, 59);
    --primary-color-botao-apertado: rgb(107, 0, 0);
    --color-buttom-success: rgb(147, 232, 116);
    --color-buttom-error: rgb(213, 49, 34);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto; 
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width:100%;
    margin-bottom: 10px; 
}

form input {
    font-size: 20px;
    height: 30px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background: var(--primary-color-darker);
}

table {
    margin: 10px;
    display: block;
    border-spacing: 0px;
}

tr.cabeçalho {
    font-weight: bold;
    font-size: 24px;
}

td {
    padding: 2px;
    margin: 50px auto; 
}

p.success {
    background: var(--color-buttom-success);
}

.paragrafo-resultado-success {
    background: var(--color-buttom-success);
    padding: 4px;
}

.paragrafo-resultado-error {
    background: var(--color-buttom-error);
    padding: 4px;
}